.connect-btn{
    background-color: var(--pink-color) !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 12.5px 35px 12.5px 35px;

    &:hover{
        background-color: var(--hover-pink-color) !important;
    }
}
input:focus{
    border-color: var(--pink-color) !important;
    --tw-ring-color: var(--pink-color) !important;
    --tw-ring-shadow: rgba(248, 88, 102, 0.54) !important;
}

.checkbox{
    color: var(--pink-color) !important;

    &:hover{
        color: var(--hover-pink-color) !important;
    }
}
.connect-title {
    color: var(--pink-color);
    font-size: 36px;
    margin: 10% 0 60px 0;
}

.login-page {
    display: flex;
    height: 81.5vh;
}

.login-img {
    flex: 1;
    background-image: url('../../../files/image/login-pic.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.login-form {
    flex: 1.25;
}
