@import "@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --pink-color:#F85866;
    --hover-pink-color: #d24753;
    --green-color:#8AE179;
    --hover-green-color: #6aaf5c;
    --light-gray-color:#F1F1F1;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header{
    flex-shrink: 0;
}

footer {
    flex-shrink: 0;
}

main {
    display: flex;
    flex: 1 0 auto;
}

.with-msg{
}

h2{
    font-size: 30px;
    color: var(--pink-color);
}

input, textarea, select{
    &:focus{
        border-color: var(--pink-color);
        --tw-ring-color: var(--pink-color);
        --tw-ring-offset-shadow: rgba(248, 88, 102, 0.5);
    }
}

button:focus {
    --tw-ring-offset-shadow: none !important;
    --tw-ring-shadow: none !important;
    box-shadow: none !important;
}

.checkbox{
    color: var(--pink-color) !important;

    &:hover{
        color: var(--hover-pink-color) !important;
    }
}

.success{
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
}

.bg-green {
    background-color: #6AAF5C;
}