@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --pink-color:#F85866;
    --hover-pink-color: #d24753;
    --green-color:#8AE179;
    --hover-green-color: #6aaf5c;
    --light-gray-color:#F1F1F1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header{
    flex-shrink: 0;
}

footer {
    flex-shrink: 0;
}

main {
    display: flex;
    flex: 1 0 auto;
}