.list{
    display: block;
    margin: auto;

    .search-zone{
        button{
            background-color: var(--pink-color);

            &:hover{
                background-color: var(--hover-pink-color);
            }
        }
    }
    table button{
        background-color: var(--pink-color);

        &:hover{
            background-color: var(--hover-pink-color);
        }

        &:last-child{
            background-color: var(--green-color);
        }

        &:last-child:hover{
            background-color: var(--hover-green-color);
        }
    }

}