.image {
    position: relative;
    width: 100%;
    height: 480px;
    object-fit: cover;
    background-image: url("../../../files/image/compte_benevole-1200x630.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.homeText {
    position: absolute;
    top: 35%;
    left: 25%;
    font-size: 40px;
    color: white;
    z-index: 1;
    max-width: 450px;
}

.homeButton {
    position: absolute;
    top: 64%;
    left: 25%;
    z-index: 1;
    width: 200px;
}

.homeBody {
    margin-top:62px;
}

.imageHome {
    height: 380px;
}

.homeTitle {
    font-size: 36px;
    color: #F85866;
}