.register-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: auto;

    div{
        height: 100vh;
        width: calc(100vw/3);
    }


    img {
        object-fit: cover;
        height: 100%;
        aspect-ratio: 1/1;
        transition: scale 350ms ease;
    }

    .partner{
        &:hover{
            filter:brightness(0.7);
            ~.beneficiary, ~.volunteer{
                filter:blur(1px);
            }
        }
    }

    .beneficiary{
        &:hover{
            filter:brightness(0.7);
            ~.partner, ~.volunteer{
                filter:blur(1px);
            }
        }
    }


    .volunteer{
        &:hover{
            filter:brightness(0.7);
            ~.partner, ~.beneficiary{
                filter:blur(1px);
            }
        }
    }
}





