.activity-add-form{
    form {
        background-color: var(--light-gray-color);
        padding: 50px 100px 50px 100px;
        width: 50vw;
        border-radius: 24px;

        button{
            display: block;
            margin: auto;
            background-color: var(--pink-color);

            &:hover{
                background-color: var(--hover-pink-color);
            }
        }
    }
}